.galeria__imagen--borde,.YouTube__iframe--borde{
	border: 4px solid #F5F8BF;


}

.galeria__imagen--padding,.YouTube__iframe--padding{

		
		padding-bottom:3%;
		

		}



@media only screen and (min-width: 0px) and (max-width: 560px){


.YouTube__iframe--tamanio,.galeria__imagen--tamanio {
		
		
		width:100%;
		
	}


 
}

@media only screen and (min-width: 1120px){



}
	


