.titulos{
	color:blue;
	font-size:20px;
	word-spacing: 10px;
    letter-spacing: 10px;
    text-align: center;
   

}



.divTitulos__titulos--position{
	display:flex;
	justify-content:center;
}

div__escritos--alineacion{
	text-align:justify;
}